*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


.contenedor-total{
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
}

header{
    width: 100%;
    max-width: 1200px;
    height: 20vh;
    background: radial-gradient(#da077b 40%, #eee311);
    color: rgb(59, 58, 58);
    border-radius: 50px;
    margin: 7px 10px;

}

header h1{
    text-align: center;
    padding: 20px;
    color: #fff;
    letter-spacing: 5px;
    font-family: 'Acme', sans-serif;
    font-size: 50px;
}

contenedor-main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

main{
    width: 80%;
    margin: auto;
   /* border: 1px solid blue;*/
   
    
}

.ilustracion{
    width:90%;
  /*  border: 1px solid red;*/
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.ilustracion p{
    text-align: center;
    padding: 10px;
    margin-top: 70px;
    font-size: 30px;
    font-family: 'Caveat', cursive;
    font-weight: bold;
    color: #59434f;
}

img{
    width: 50%;
    /*border: 2px solid yellow;*/
    margin: 20px;
}