/*--------------------------------------------------------------------1200px------------------------------*/
/*--------------------------------------------------------------------1200px------------------------------*/
/*--------------------------------------------------------------------1200px------------------------------*/

@media screen and (max-width: 1200px){

    .contenedor-total{
        font-size: 14px;
        margin: auto;
    }

    header{
        padding: 30px;
        width: 100%;
        margin: 4px auto;
        letter-spacing: 4px;
      
    }



}


/*--------------------------------------------------------------------992px------------------------------*/
/*--------------------------------------------------------------------992px------------------------------*/
/*--------------------------------------------------------------------992px------------------------------*/

@media screen and (max-width: 992px){

    .contenedor-total{
        font-size: 12px;
    }

    header{
        padding: 13px;
        height: 18vh;
        letter-spacing: 3px;
    }

    
    .ilustracion p{
        padding: 8px;
        margin-top: 50px;
   }
}

/*--------------------------------------------------------------------768px------------------------------*/
/*--------------------------------------------------------------------768px------------------------------*/
/*--------------------------------------------------------------------768px------------------------------*/

@media screen and (max-width: 768px){

    .contenedor-total{
        font-size: 9px;
    }

    header{
        padding: 8px;
        height: 17vh;
        margin: 2px auto;
        letter-spacing: 1px;
    }

    .ilustracion p{
        letter-spacing: 1px;
        font-size: 24px;
        }
}



/*--------------------------------------------------------------------576px------------------------------*/
/*--------------------------------------------------------------------576px------------------------------*/
/*--------------------------------------------------------------------576px------------------------------*/

@media screen and (max-width: 576px){

    .contenedor-total{
        font-size: 8px;
    }

    header{
        padding: 3px;
        height: 15vh;
        margin: 1px auto;
        
    }

    .ilustracion p{
        padding: 1px;   
        letter-spacing: 0px;     
    }

}


/*--------------------------------------------------------------------320px------------------------------*/
/*--------------------------------------------------------------------320px------------------------------*/
/*--------------------------------------------------------------------320px------------------------------*/

@media screen and (max-width: 320px){


    header{
        padding: 1px;
        height: 20vh;
     
    }

    .ilustracion p{
  
        font-size: 20px;
        }

        
    img{
        width: 100%;
        
    }

}

